In [ ]:
import os
import pandas as pd
from tabulate import tabulate
from dotenv import load_dotenv
import snowflake.connector

load_dotenv()

conn = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE', 'COMPUTE_WH'),
    database='INCREMENTALITY',
    schema='INCREMENTALITY_RESEARCH'
)
cursor = conn.cursor()

def run_query(query):
    cursor.execute(query)
    results = cursor.fetchall()
    if results:
        columns = [desc[0] for desc in cursor.description]
        return pd.DataFrame(results, columns=columns)
    return pd.DataFrame()

def show_table(df, title=""):
    if title:
        print(f"\n{title}")
        print("="*len(title))
    print(tabulate(df, headers='keys', tablefmt='grid', showindex=False))

print("✅ Connected to Snowflake")

✅ Connected to Snowflake

In [ ]:
# Count rows in 1 hour window
counts = []

# AUCTIONS tables
query = "SELECT COUNT(*) as cnt FROM AUCTIONS_USERS WHERE CREATED_AT >= '2025-07-01 00:00:00' AND CREATED_AT < '2025-07-02 01:00:00'"
df = run_query(query)
counts.append(['AUCTIONS_USERS', df['CNT'].iloc[0]])

query = "SELECT COUNT(*) as cnt FROM AUCTIONS_RESULTS WHERE CREATED_AT >= '2025-07-01 00:00:00' AND CREATED_AT < '2025-07-02 01:00:00'"
df = run_query(query)
counts.append(['AUCTIONS_RESULTS', df['CNT'].iloc[0]])

# Event tables
query = "SELECT COUNT(*) as cnt FROM IMPRESSIONS WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-02 01:00:00'"
df = run_query(query)
counts.append(['IMPRESSIONS', df['CNT'].iloc[0]])

query = "SELECT COUNT(*) as cnt FROM CLICKS WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-02 01:00:00'"
df = run_query(query)
counts.append(['CLICKS', df['CNT'].iloc[0]])

query = "SELECT COUNT(*) as cnt FROM PURCHASES WHERE PURCHASED_AT >= '2025-07-01 00:00:00' AND PURCHASED_AT < '2025-07-02 01:00:00'"
df = run_query(query)
counts.append(['PURCHASES', df['CNT'].iloc[0]])

count_df = pd.DataFrame(counts, columns=['Table', 'Row Count (1 hour)'])
count_df['Row Count (1 hour)'] = count_df['Row Count (1 hour)'].apply(lambda x: f"{x:,}")
show_table(count_df, "Table Row Counts (2025-07-01 00:00-01:00)")

Table Row Counts (2025-07-01 00:00-01:00)
=========================================
+------------------+----------------------+
| Table            | Row Count (1 hour)   |
+==================+======================+
| AUCTIONS_USERS   | 7,173,906            |
+------------------+----------------------+
| AUCTIONS_RESULTS | 260,352,025          |
+------------------+----------------------+
| IMPRESSIONS      | 27,272,669           |
+------------------+----------------------+
| CLICKS           | 890,435              |
+------------------+----------------------+
| PURCHASES        | 147,642              |
+------------------+----------------------+

## 3. Rank Distribution

In [ ]:
# Rank distribution for 10 minute window
query = """
SELECT 
    RANKING as Rank,
    COUNT(*) as Total_Bids,
    SUM(CASE WHEN IS_WINNER THEN 1 ELSE 0 END) as Winners,
    ROUND(100.0 * SUM(CASE WHEN IS_WINNER THEN 1 ELSE 0 END) / COUNT(*), 1) as Win_Rate_Pct
FROM AUCTIONS_RESULTS 
WHERE CREATED_AT >= '2025-07-01 00:00:00' 
  AND CREATED_AT < '2025-07-01 00:10:00'
  AND RANKING <= 40
GROUP BY RANKING
ORDER BY RANKING
"""

df = run_query(query)
show_table(df, "Rank Distribution (10 min sample)")

Rank Distribution (10 min sample)
=================================
+--------+--------------+-----------+----------------+
|   RANK |   TOTAL_BIDS |   WINNERS |   WIN_RATE_PCT |
+========+==============+===========+================+
|      1 |        67262 |     66985 |           99.6 |
+--------+--------------+-----------+----------------+
|      2 |        66713 |     66098 |           99.1 |
+--------+--------------+-----------+----------------+
|      3 |        66302 |     65334 |           98.5 |
+--------+--------------+-----------+----------------+
|      4 |        65992 |     64738 |           98.1 |
+--------+--------------+-----------+----------------+
|      5 |        65772 |     64233 |           97.7 |
+--------+--------------+-----------+----------------+
|      6 |        65551 |     63763 |           97.3 |
+--------+--------------+-----------+----------------+
|      7 |        65329 |     63289 |           96.9 |
+--------+--------------+-----------+----------------+
|      8 |        65156 |     62882 |           96.5 |
+--------+--------------+-----------+----------------+
|      9 |        65007 |     62524 |           96.2 |
+--------+--------------+-----------+----------------+
|     10 |        64852 |     62164 |           95.9 |
+--------+--------------+-----------+----------------+

In [ ]:
# Simple CTR calculation
query = """
SELECT 
    'Impressions' as Event_Type,
    COUNT(*) as Count
FROM IMPRESSIONS 
WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-02 01:00:00'
UNION ALL
SELECT 
    'Clicks' as Event_Type,
    COUNT(*) as Count
FROM CLICKS 
WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-02 01:00:00'
"""

df = run_query(query)
imp_count = df[df['EVENT_TYPE'] == 'Impressions']['COUNT'].iloc[0]
click_count = df[df['EVENT_TYPE'] == 'Clicks']['COUNT'].iloc[0]
ctr = (click_count / imp_count * 100) if imp_count > 0 else 0

ctr_df = pd.DataFrame([
    ['Impressions', f"{imp_count:,}"],
    ['Clicks', f"{click_count:,}"],
    ['CTR', f"{ctr:.2f}%"]
], columns=['Metric', 'Value'])

show_table(ctr_df, "Click-Through Rate (1 hour)")

Click-Through Rate (1 hour)
===========================
+-------------+------------+
| Metric      | Value      |
+=============+============+
| Impressions | 27,272,669 |
+-------------+------------+
| Clicks      | 890,435    |
+-------------+------------+
| CTR         | 3.26%      |
+-------------+------------+

In [ ]:
# Purchase stats
query = """
SELECT 
    COUNT(DISTINCT PURCHASE_ID) as Purchases,
    COUNT(DISTINCT USER_ID) as Unique_Users,
    COUNT(DISTINCT PRODUCT_ID) as Unique_Products,
    SUM(QUANTITY) as Total_Quantity,
    ROUND(SUM(QUANTITY * UNIT_PRICE), 2) as Total_Revenue
FROM PURCHASES
WHERE PURCHASED_AT >= '2025-07-01 00:00:00' 
  AND PURCHASED_AT < '2025-07-02 01:00:00'
"""

df = run_query(query)
if not df.empty:
    # Transpose for better display
    stats = [
        ['Total Purchases', f"{df['PURCHASES'].iloc[0]:,}"],
        ['Unique Users', f"{df['UNIQUE_USERS'].iloc[0]:,}"],
        ['Unique Products', f"{df['UNIQUE_PRODUCTS'].iloc[0]:,}"],
        ['Total Quantity', f"{df['TOTAL_QUANTITY'].iloc[0]:,}"],
        ['Total Revenue', f"${df['TOTAL_REVENUE'].iloc[0]:,.2f}"]
    ]
    stats_df = pd.DataFrame(stats, columns=['Metric', 'Value'])
    show_table(stats_df, "Purchase Statistics (1 hour)")

Purchase Statistics (1 hour)
============================
+-----------------+-----------------+
| Metric          | Value           |
+=================+=================+
| Total Purchases | 117,886         |
+-----------------+-----------------+
| Unique Users    | 88,932          |
+-----------------+-----------------+
| Unique Products | 132,988         |
+-----------------+-----------------+
| Total Quantity  | 147,642         |
+-----------------+-----------------+
| Total Revenue   | $529,325,960.00 |
+-----------------+-----------------+

In [ ]:
# Build simple funnel
query = """
SELECT 
    (SELECT COUNT(*) FROM AUCTIONS_USERS WHERE CREATED_AT >= '2025-07-01 00:00:00' AND CREATED_AT < '2025-07-01 00:30:00') as Auctions,
    (SELECT COUNT(*) FROM AUCTIONS_RESULTS WHERE CREATED_AT >= '2025-07-01 00:00:00' AND CREATED_AT < '2025-07-01 00:30:00' AND IS_WINNER = TRUE) as Winners,
    (SELECT COUNT(*) FROM IMPRESSIONS WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-01 00:30:00') as Impressions,
    (SELECT COUNT(*) FROM CLICKS WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-01 00:30:00') as Clicks,
    (SELECT COUNT(*) FROM PURCHASES WHERE PURCHASED_AT >= '2025-07-01 00:00:00' AND PURCHASED_AT < '2025-07-01 00:30:00') as Purchases
"""

df = run_query(query)
if not df.empty:
    funnel = [
        ['Auctions', df['AUCTIONS'].iloc[0], '100.0%'],
        ['Winners', df['WINNERS'].iloc[0], f"{100*df['WINNERS'].iloc[0]/df['AUCTIONS'].iloc[0]:.1f}%"],
        ['Impressions', df['IMPRESSIONS'].iloc[0], f"{100*df['IMPRESSIONS'].iloc[0]/df['WINNERS'].iloc[0]:.1f}%"],
        ['Clicks', df['CLICKS'].iloc[0], f"{100*df['CLICKS'].iloc[0]/df['IMPRESSIONS'].iloc[0]:.1f}%"],
        ['Purchases', df['PURCHASES'].iloc[0], f"{100*df['PURCHASES'].iloc[0]/df['CLICKS'].iloc[0]:.1f}%"]
    ]
    funnel_df = pd.DataFrame(funnel, columns=['Stage', 'Count', 'Conversion'])
    funnel_df['Count'] = funnel_df['Count'].apply(lambda x: f"{x:,}")
    show_table(funnel_df, "Conversion Funnel (30 min sample)")

## Clicks and Purchases only

In [ ]:
import os
import pandas as pd
from tabulate import tabulate
from dotenv import load_dotenv
import snowflake.connector
import sys

load_dotenv()

conn = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE', 'COMPUTE_WH'),
    database='INCREMENTALITY',
    schema='INCREMENTALITY_RESEARCH'
)
cursor = conn.cursor()

def run_query(query):
    try:
        cursor.execute(query)
        if cursor.description:
            results = cursor.fetchall()
            columns = [desc[0] for desc in cursor.description]
            return pd.DataFrame(results, columns=columns)
        return pd.DataFrame()
    except snowflake.connector.ProgrammingError as e:
        print(f"\nERROR executing query:\n{query}\nDetails: {e}")
        raise

def show_table(df, title=""):
    if title:
        print(f"\n{title}")
        print("="*len(title))
    print(tabulate(df, headers='keys', tablefmt='grid', showindex=False))

print("✅ Connected to Snowflake")

WRITABLE_DATABASE = 'USER$PRANJAL'
WRITABLE_SCHEMA = 'PUBLIC'

try:
    run_query(f"USE DATABASE {WRITABLE_DATABASE};")
    run_query(f"USE SCHEMA {WRITABLE_DATABASE}.{WRITABLE_SCHEMA};")
    print(f"✅ Switched context to your writable database '{WRITABLE_DATABASE}' and schema '{WRITABLE_SCHEMA}'.")
except Exception as e:
    print(f"\nCRITICAL ERROR: Failed to switch to a writable database/schema.")
    print(f"Details: {e}")
    sys.exit(1)

PILOT_WEEK_START = '2025-07-01 00:00:00'
PILOT_WEEK_END = '2025-07-08 00:00:00'

print("\n--- Exploring Clicks and Purchases Tables ---")

✅ Connected to Snowflake
✅ Switched context to your writable database 'USER$PRANJAL' and schema 'PUBLIC'.

--- Exploring Clicks and Purchases Tables ---

In [ ]:
# Schema for Clicks
print("\n--- Schema for Clicks ---")
query_clicks_schema = "DESCRIBE TABLE INCREMENTALITY.PUBLIC.CLICKS;"
df_clicks_schema = run_query(query_clicks_schema)
show_table(df_clicks_schema, "Clicks Table Schema")

# Sample Data from Clicks (within pilot week)
print("\n--- Sample Data from Clicks (Pilot Week) ---")
query_clicks_sample = f"""
SELECT *
FROM INCREMENTALITY.PUBLIC.CLICKS
WHERE OCCURRED_AT >= '{PILOT_WEEK_START}' AND OCCURRED_AT < '{PILOT_WEEK_END}'
LIMIT 5;
"""
df_clicks_sample = run_query(query_clicks_sample)
show_table(df_clicks_sample, "Clicks Sample (Pilot Week)")

# Row Count for Clicks (within pilot week)
print("\n--- Row Count for Clicks (Pilot Week) ---")
query_clicks_count = f"""
SELECT COUNT(*) as count
FROM INCREMENTALITY.PUBLIC.CLICKS
WHERE OCCURRED_AT >= '{PILOT_WEEK_START}' AND OCCURRED_AT < '{PILOT_WEEK_END}';
"""
df_clicks_count = run_query(query_clicks_count)
print(f"Total Clicks in Pilot Week: {df_clicks_count['COUNT'].iloc[0]:,}")

--- Schema for Clicks ---

--- Executing SQL Query ---
DESCRIBE TABLE INCREMENTALITY.PUBLIC.CLICKS;
---------------------------


--- Clicks Table Schema ---
 name          type   kind
COL_A       VARCHAR COLUMN
COL_B TIMESTAMP_NTZ COLUMN
COL_C        NUMBER COLUMN
---------------------------


--- Sample Data from Clicks (Pilot Week) ---

--- Executing SQL Query ---

SELECT *
FROM INCREMENTALITY.PUBLIC.CLICKS
WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-08 00:00:00'
LIMIT 5;

---------------------------


--- Clicks Sample (Pilot Week) ---
INTERACTION_ID AUCTION_ID PRODUCT_ID USER_ID CAMPAIGN_ID VENDOR_ID         OCCURRED_AT
            c1         a1         p1      u1        cam1        v1 2025-07-01 10:00:00
            c2         a2         p2      u2        cam2        v2 2025-07-01 10:05:00
---------------------------


--- Row Count for Clicks (Pilot Week) ---

--- Executing SQL Query ---

SELECT COUNT(*) as count
FROM INCREMENTALITY.PUBLIC.CLICKS
WHERE OCCURRED_AT >= '2025-07-01 00:00:00' AND OCCURRED_AT < '2025-07-08 00:00:00';

---------------------------

Total Clicks in Pilot Week: 123,456

In [ ]:
print("\n--- Schema for Clicks ---")
query_clicks_schema = "DESCRIBE TABLE INCREMENTALITY.INCREMENTALITY_RESEARCH.CLICKS;"
df_clicks_schema = run_query(query_clicks_schema)
show_table(df_clicks_schema, "Clicks Table Schema")

print("\n--- Sample Data from Clicks (Pilot Week) ---")
query_clicks_sample = f"""
SELECT *
FROM INCREMENTALITY.INCREMENTALITY_RESEARCH.CLICKS
WHERE OCCURRED_AT >= '{PILOT_WEEK_START}' AND OCCURRED_AT < '{PILOT_WEEK_END}'
LIMIT 5;
"""
df_clicks_sample = run_query(query_clicks_sample)
show_table(df_clicks_sample, "Clicks Sample (Pilot Week)")

print("\n--- Row Count for Clicks (Pilot Week) ---")
query_clicks_count = f"""
SELECT COUNT(*) as count
FROM INCREMENTALITY.INCREMENTALITY_RESEARCH.CLICKS
WHERE OCCURRED_AT >= '{PILOT_WEEK_START}' AND OCCURRED_AT < '{PILOT_WEEK_END}';
"""
df_clicks_count = run_query(query_clicks_count)
print(f"Total Clicks in Pilot Week: {df_clicks_count['COUNT'].iloc[0]:,}")

--- Schema for Clicks ---

Clicks Table Schema
===================
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| name           | type              | kind   | null?   | default   | primary key   | unique key   | check   | expression   | comment   | policy name   | privacy domain   |
+================+===================+========+=========+===========+===============+==============+=========+==============+===========+===============+==================+
| INTERACTION_ID | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| AUCTION_ID     | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| PRODUCT_ID     | VARCHAR(16777216) | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| USER_ID        | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| CAMPAIGN_ID    | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| VENDOR_ID      | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| OCCURRED_AT    | TIMESTAMP_NTZ(9)  | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+----------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+

--- Sample Data from Clicks (Pilot Week) ---

Clicks Sample (Pilot Week)
==========================
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+
| INTERACTION_ID                       | AUCTION_ID                           | PRODUCT_ID               | USER_ID                                   | CAMPAIGN_ID                          | VENDOR_ID                            | OCCURRED_AT         |
+======================================+======================================+==========================+===========================================+======================================+======================================+=====================+
| 06864087-40b3-72a2-a618-7d4d28b54028 | 0686407b-97ef-7e98-9204-f4fa2ffb9827 | 6863eb82ba3d4885a15cc4b6 | ext1:da14a52a-cc30-4d09-990e-64a36cd58df6 | 0197ba60-6a2f-7673-9559-81523e29a8be | 065eb783-4a39-72f7-b824-e04240d2d428 | 2025-07-01 16:10:19 |
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+
| 06869e19-45c2-7b45-8418-a1a3686a2809 | 06869e11-cb96-7846-a704-b9f307c67e3f | 67a8f9f6f884712acd4b12fd | ext1:bfbc2844-9d0a-44c1-a033-a39c7bac6c2b | 0197cd4b-8dfd-7572-a5f2-f4205dc4be72 | 01914cb1-5a15-7361-8601-314348936c61 | 2025-07-06 02:38:03 |
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+
| 0686ad35-61f1-72da-a018-91934497e04d | 0686ad31-41fe-71b7-8104-b2bbc3d24c15 | 6863f1879b2158356e117d5b | ext1:860e456d-47aa-4c3c-9032-bbc22b177e26 | 0197c698-c4f6-7772-8070-47403a626cd2 | 0197c697-dea0-7f73-80a8-68c835c1d2f1 | 2025-07-06 19:49:37 |
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+
| 0686acf1-2253-71e1-8b18-102888095d67 | 0686acee-e4df-7ac8-ba04-02c04497e04d | 606fb3f437f939900d3a42a7 | ext1:4d64d6ee-1572-4c2f-8969-70bfc670e71b | 0197d253-b303-7f31-833d-7e5ad754ca29 | 018f0d5b-6430-77c4-987f-eb9f9363760a | 2025-07-06 19:31:14 |
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+
| 068634b5-a679-78aa-ae18-7bb3c543b11c | 068634b3-5e3d-7643-8e04-855499cdf56d | 68236d1bed788d6c80c5edae | ext1:5a5c57c2-0803-4c18-9ee0-8f109bc4edf8 | 0197b97d-5ca9-7093-856c-035dba62c604 | 06553ea7-a88a-7a5c-8524-fc25684d00af | 2025-07-01 02:43:29 |
+--------------------------------------+--------------------------------------+--------------------------+-------------------------------------------+--------------------------------------+--------------------------------------+---------------------+

--- Row Count for Clicks (Pilot Week) ---
Total Clicks in Pilot Week: 6,160,055

In [ ]:
# Schema for Purchases
print("\n--- Schema for Purchases ---")
query_purchases_schema = "DESCRIBE TABLE INCREMENTALITY.INCREMENTALITY_RESEARCH.PURCHASES;"
df_purchases_schema = run_query(query_purchases_schema)
show_table(df_purchases_schema, "Purchases Table Schema")

# Sample Data from Purchases (within pilot week)
print("\n--- Sample Data from Purchases (Pilot Week) ---")
query_purchases_sample = f"""
SELECT *
FROM INCREMENTALITY.INCREMENTALITY_RESEARCH.PURCHASES
WHERE PURCHASED_AT >= '{PILOT_WEEK_START}' AND PURCHASED_AT < '{PILOT_WEEK_END}'
LIMIT 5;
"""
df_purchases_sample = run_query(query_purchases_sample)
show_table(df_purchases_sample, "Purchases Sample (Pilot Week)")

# Row Count for Purchases (within pilot week)
print("\n--- Row Count for Purchases (Pilot Week) ---")
query_purchases_count = f"""
SELECT COUNT(*) as count
FROM INCREMENTALITY.INCREMENTALITY_RESEARCH.PURCHASES
WHERE PURCHASED_AT >= '{PILOT_WEEK_START}' AND PURCHASED_AT < '{PILOT_WEEK_END}';
"""
df_purchases_count = run_query(query_purchases_count)

print(f"Total Purchases in Pilot Week: {df_purchases_count['COUNT'].iloc[0]:,}")

--- Schema for Purchases ---

Purchases Table Schema
======================
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| name          | type              | kind   | null?   | default   | primary key   | unique key   | check   | expression   | comment   | policy name   | privacy domain   |
+===============+===================+========+=========+===========+===============+==============+=========+==============+===========+===============+==================+
| PURCHASE_ID   | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| PURCHASED_AT  | TIMESTAMP_NTZ(9)  | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| PRODUCT_ID    | VARCHAR(16777216) | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| QUANTITY      | NUMBER(38,0)      | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| UNIT_PRICE    | NUMBER(38,0)      | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| USER_ID       | VARCHAR(16777216) | COLUMN | Y       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+
| PURCHASE_LINE | NUMBER(38,0)      | COLUMN | N       |           | N             | N            |         |              |           |               |                  |
+---------------+-------------------+--------+---------+-----------+---------------+--------------+---------+--------------+-----------+---------------+------------------+

--- Sample Data from Purchases (Pilot Week) ---

Purchases Sample (Pilot Week)
=============================
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+
| PURCHASE_ID              | PURCHASED_AT        | PRODUCT_ID               |   QUANTITY |   UNIT_PRICE | USER_ID                                   |   PURCHASE_LINE |
+==========================+=====================+==========================+============+==============+===========================================+=================+
| 686328f775178a108a6f1cb0 | 2025-07-01 00:17:07 | 67b7d244b1ef58d11abdd342 |          1 |         1000 | ext1:6bed1922-34c9-4376-8018-a38605228206 |               1 |
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+
| 6862bc8d49dc8e793de9021f | 2025-07-01 00:36:05 | 685ec5f73509d1ce516b9e23 |          1 |          800 | ext1:5f3c4c61-c836-460e-bfe4-da2484439d7f |               1 |
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+
| 686328f33a2fa7afc670f0b3 | 2025-07-01 00:19:02 | 6862ae059b2158ba25a71cde |          1 |         2000 | ext1:82e7706b-46fc-42ae-910b-a0941a651aca |               1 |
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+
| 68630a08359f6e0ff97835f5 | 2025-07-01 00:38:13 | 685ec3efff032086504b4d51 |          1 |         1500 | ext1:bd9e3fd6-4648-4dcd-880a-d8d51fa3c36d |               3 |
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+
| 6863290e421196cbe994db58 | 2025-07-01 00:17:24 | 68618a212fa05469c3647ce6 |          1 |         3500 | ext1:b6511c76-3de7-49d1-8348-6c57348d6b71 |               1 |
+--------------------------+---------------------+--------------------------+------------+--------------+-------------------------------------------+-----------------+

--- Row Count for Purchases (Pilot Week) ---
Total Purchases in Pilot Week: 959,638

In [ ]:
import os
import pandas as pd
from tabulate import tabulate
from dotenv import load_dotenv
import snowflake.connector
import sys

# --- Your provided Snowflake connection details ---
load_dotenv()
conn_explore = snowflake.connector.connect(
    user=os.getenv('SNOWFLAKE_USER'),
    password=os.getenv('SNOWFLAKE_PASSWORD'),
    account=os.getenv('SNOWFLAKE_ACCOUNT'),
    warehouse=os.getenv('SNOWFLAKE_WAREHOUSE', 'COMPUTE_WH'),
    database='INCREMENTALITY', # Connect to shared DB to query metadata
    schema='INCREMENTALITY_RESEARCH'
)
cursor_explore = conn_explore.cursor()

def run_explore_query(query):
    try:
        cursor_explore.execute(query)
        if cursor_explore.description:
            results = cursor_explore.fetchall()
            columns = [desc[0] for desc in cursor_explore.description]
            return pd.DataFrame(results, columns=columns)
        return pd.DataFrame()
    except Exception as e:
        print(f"Error running discovery query: {e}")
        return pd.DataFrame()

def show_table_explore(df, title=""):
    if title:
        print(f"\n{title}")
        print("="*len(title))
    print(tabulate(df, headers='keys', tablefmt='grid', showindex=False))

print("--- Advanced Discovery of Writable Databases & Schemas ---")

# 1. Get current role and default database/warehouse (if any)
print("\nYour Current Role and Connection Defaults:")
df_context = run_explore_query("SELECT CURRENT_ROLE(), CURRENT_DATABASE(), CURRENT_SCHEMA(), CURRENT_WAREHOUSE();")
show_table_explore(df_context, "Current Snowflake Context")
current_role = df_context['CURRENT_ROLE()'].iloc[0] if not df_context.empty else 'UNKNOWN_ROLE'

# 2. List all accessible databases
print(f"\nAll Databases accessible by role '{current_role}':")
df_all_dbs = run_explore_query("SHOW DATABASES;")
show_table_explore(df_all_dbs, "All Accessible Databases")
print("\nLook for databases that are NOT 'INCREMENTALITY', 'SNOWFLAKE', or 'USER$PRANJAL'.")
print("These are often named 'DEV', 'SANDBOX', 'ANALYTICS', 'SCRATCHPAD', or a team-specific name.")
print("The 'owner' column can also give a clue.")


# 3. For each non-shared, non-personal database, list schemas
print("\nExploring Schemas in potential writable databases:")
potential_writable_dbs = []
if not df_all_dbs.empty:
    for index, row in df_all_dbs.iterrows():
        db_name = row['name']
        db_kind = row['kind']
        db_origin = row['origin'] # Helps identify shared DBs
        if db_name not in ['INCREMENTALITY', 'SNOWFLAKE', 'USER$PRANJAL'] and not db_origin:
            potential_writable_dbs.append(db_name)

if potential_writable_dbs:
    for db in potential_writable_dbs:
        print(f"\nSchemas in database: {db}")
        df_schemas = run_explore_query(f"SHOW SCHEMAS IN DATABASE {db};")
        if not df_schemas.empty:
            show_table_explore(df_schemas, f"Schemas in {db}")
            print("Look for schemas like 'PUBLIC', 'DEV', 'TEST', or specific project schemas.")
        else:
            print(f"  (No schemas found or accessible in {db})")
else:
    print("\nNo obvious non-shared, non-personal databases found. You might need to ask your Snowflake admin for a scratchpad database.")

cursor_explore.close()
conn_explore.close()
print("\n--- Advanced Discovery complete. ---")
print("\n**IMPORTANT:** From the outputs above, carefully choose one database name and one schema name")
print("             where you believe your role has 'CREATE TABLE' permissions. Then, update")
print("             'WRITABLE_DATABASE' and 'WRITABLE_SCHEMA' in Cell 1 of the main script.")

--- Advanced Discovery of Writable Databases & Schemas ---

Your Current Role and Connection Defaults:

Current Snowflake Context
=========================
+------------------+----------------------+-------------------------+-----------------------+
| CURRENT_ROLE()   | CURRENT_DATABASE()   | CURRENT_SCHEMA()        | CURRENT_WAREHOUSE()   |
+==================+======================+=========================+=======================+
| PUBLIC           | INCREMENTALITY       | INCREMENTALITY_RESEARCH | COMPUTE_WH            |
+------------------+----------------------+-------------------------+-----------------------+

All Databases accessible by role 'PUBLIC':

All Accessible Databases
========================
+----------------------------------+----------------+--------------+--------------+--------------------------------+--------------+-----------+-----------+------------------+-------------------+-------------------+---------------------+
| created_on                       | name           | is_default   | is_current   | origin                         | owner        | comment   | options   |   retention_time | kind              | owner_role_type   | object_visibility   |
+==================================+================+==============+==============+================================+==============+===========+===========+==================+===================+===================+=====================+
| 2025-07-18 11:51:18.055000-07:00 | INCREMENTALITY | N            | Y            | MKOYFLY.UQ48010.RESEARCH_SHARE | ACCOUNTADMIN |           |           |                0 | IMPORTED DATABASE | ROLE              |                     |
+----------------------------------+----------------+--------------+--------------+--------------------------------+--------------+-----------+-----------+------------------+-------------------+-------------------+---------------------+
| 2025-06-27 07:38:25.558000-07:00 | SNOWFLAKE      | N            | N            | SNOWFLAKE.ACCOUNT_USAGE        |              |           |           |                0 | APPLICATION       |                   |                     |
+----------------------------------+----------------+--------------+--------------+--------------------------------+--------------+-----------+-----------+------------------+-------------------+-------------------+---------------------+
| 2025-07-19 14:03:24.664000-07:00 | USER$PRANJAL   | N            | N            |                                |              |           |           |                1 | PERSONAL DATABASE |                   |                     |
+----------------------------------+----------------+--------------+--------------+--------------------------------+--------------+-----------+-----------+------------------+-------------------+-------------------+---------------------+

Look for databases that are NOT 'INCREMENTALITY', 'SNOWFLAKE', or 'USER$PRANJAL'.
These are often named 'DEV', 'SANDBOX', 'ANALYTICS', 'SCRATCHPAD', or a team-specific name.
The 'owner' column can also give a clue.

Exploring Schemas in potential writable databases:

No obvious non-shared, non-personal databases found. You might need to ask your Snowflake admin for a scratchpad database.

--- Advanced Discovery complete. ---

**IMPORTANT:** From the outputs above, carefully choose one database name and one schema name
             where you believe your role has 'CREATE TABLE' permissions. Then, update
             'WRITABLE_DATABASE' and 'WRITABLE_SCHEMA' in Cell 1 of the main script.